[submodule "dtiso3d"]
	path = DTIso3D
	url = http://10.214.65.162:48880/opensource/dtiso3d.git
[submodule "third/googletest"]
	path = third/googletest
	url = http://10.214.65.162:48880/opensource/googletest.git
[submodule "third/libigl"]
	path = third/libigl
	url = http://10.214.65.162:48880/opensource/libigl.git
[submodule "third/eigen"]
	path = third/eigen
	url = http://10.214.65.162:48880/opensource/eigen.git
[submodule "third/geogram"]
	path = third/geogram
	url = http://10.214.65.162:48880/opensource/geogram.git
